body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color:#ffffff;
  font-style: normal;
}

/* Global*/
.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:20;
  padding:0;
}

/*Header*/
header{
  background:#ffffff;
  color:#000000;
  padding-top:30px;
  min-height:50px;
}

header a{
  color:#000000;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
header li{
  float: left;
  display: inline;
  padding: 20 20 20 20;
}
header #branding{
  float:left;
  margin-top: 10px;
}
header #branding h1{
  font-size: 20px;
  text-transform: capitalize;
  margin-left: 50px;
}
header nav{
  float:right;
  margin-top:10px;
  margin-right: 50px;
}
header .current a{
  color:#A3BBBB;
}
header a:hover{
  color:#A3BBBB;
}

/*showcase*/

#showcase {
  max-height: 600px;
  background: #F0F7F7;
  color: #000000;
  text-align: center;
}

#showcase h1{
  margin-top: 150px;
  font-size:45px;
  margin-bottom:-10px;
  margin-left: 600px;
  letter-spacing: 12px;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
}
#showcase h2{
  margin-left:600px;
  font-size: 21px;
  margin-bottom: 80px;
  /* font-style: italic; */

}
#showcase p{
  margin-left: 600px;
  font-size: 19px;
  line-height: 130%;
  /* font-style: italic; */
  margin-bottom: 150px;
  color: #424242;

}

.img-banner {
  width: 50%;
  float: left;
  max-height: 600px;
  height: auto;
  object-fit: cover
}

/*contact*/
#contact {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
#contact h1{
  font-size: 22px;
  font-style: italic;
  text-decoration:underline;
  font-family: times;
}
#contact a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

/*footer*/
footer{
  padding: 20px;
  margin-top:20px;
  color: #000000;
  background-color:#ffffff;
  text-align: center;
  font-size: 15px;
  font-family: times;
  font-style: italic;
}

/*portfolio*/
#portfolio {
  font-size: 50px;
  text-align: center;
  font-style:italic;
  margin-bottom: -75px;
  font-family: times
}
mark {
  background:#F0F7F7;
  color: #000000;
}

/*gallery*/
#gallery {
  text-align: center;
  font-size: 20px;
}
#gallery .projects{
  margin-top: 120px;
  border-bottom: 1px solid silver;
}
#gallery .projects img{
  width: 100%;
}



@media only screen and (max-width: 1200px) {
  .img-banner{
    width: 100%;
    height:auto;
    /* object-fit: cover; */
  }
  #showcase {
    min-height: 1000px;
    background: #F0F7F7;
    color: #000000;
    text-align: center;
  }
  #showcase h1{
    margin-top: 700px;
    font-size: 45px;
    margin-bottom:-10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 12px;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
  }
  #showcase h2{
    margin-left: auto;
    margin-right: auto;
    font-size:21px;
    margin-bottom: 50px;
  }
  #showcase p{
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 130%;
    /* font-style: italic; */
    margin-bottom: 200px;
  }
  video{
    width:100%;
    height: auto;
  }
  iframe{
    width: 455.33px;
    height: 341.33px;
  }
}
@media only screen and (max-width: 550px){
  #showcase {
    min-height: 750px;
    background: #F0F7F7;
    color: #000000;
    text-align: center;
  }
  #showcase h1{
    margin-top: 450px;
    font-size: 30px;
    margin-bottom:-10px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 6px;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
  }
  #showcase h2{
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
    margin-bottom: 50px;
  }
  #showcase p{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 130%;
    /* font-style: italic; */
    margin-bottom: 200px;
    color: black;
  }
  header #branding{
    display:none;
  }
  header nav{
    float:right;
    margin-top:10px;
    margin-right: 20px;
  }
  video{
    width:100%;
    height: auto;
  }
  #contact a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  iframe{
    width: 273.2px;
    height: 204.8px;
  }

  /*portfolio*/
  #portfolio {
    font-size: 35px;
    text-align: center;
    font-style:italic;
    margin-bottom: -75px;
    font-family: times
  }
  mark {
    background:#F0F7F7;
    color: #000000;
  }

  /*gallery*/
  #gallery {
    text-align: center;
    font-size: 18px;
  }
  #gallery .projects{
    margin-top: 120px;
    border-bottom: 1px solid silver;
  }
  #gallery .projects img{
    width: 100%;
  }
}
